body {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  font-family: cursive;
}
.container {
  width: 400px;
  padding: 20px;
  background-color: ghostwhite;
  border-radius: 18px;
  box-shadow: 0 4px 6px;
}
.textarea {
  font-size: 14px;
  width: 100%;
  height: 100px;
  resize: none;
  font-family: sans-serif;
  box-sizing: border-box;
  border: solid 2px darkgray;
}
.counter-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}
.total-counter {
  color: green;
}
.remaining-counter {
  color: red;
}
